@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.arrow {
    margin-left: 45%;
    font-size: 200px;
    color: skyblue;
    animation: rotate 1s linear infinite;
    display: inline-block;
}