body {
    margin-left: 30px;
}

p {
    font-family: Arial, "Helvetica Light", sans-serif;
}

.player {
    color: gray;
    margin: 0;
}

.cards-container {
    display: flex;
    align-items: center;
}

.card {
    background: lightgray;
    font-size: 40px;
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 25px;
    padding-left: 8px;
    padding-right: 8px;
}