body {
    padding: 50px 0;
    margin: 50px;
}

.objects {
    display: flex;
    justify-content: space-around;
}

.container {
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

.text {
    position: relative;
    background-color: white;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    top: 50%;
    transition: 0.5s;
}

p {
    font-size: 110%;
    transition: 0.5s;
}

.city {
    color: gray;
}

.project {
    font-weight: bold;
}

.container:hover {
    border-bottom: 0.5rem solid orange;
}

.container:hover .text {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
}

.container:hover p {
    color: white;
    text-align: center;
}

.container:hover .project {
    background-color: orange;
    padding: 5%;
}